body{
font-family:Arial;
background:#f4f6fb;
margin:0;
padding:20px;
}

.title{
text-align:center;
margin-bottom:20px;
}

.dashboard{
max-width:1000px;
margin:auto;
}

.summary{
display:flex;
justify-content:space-between;
margin-bottom:20px;
}

.card{
background:white;
padding:20px;
width:30%;
border-radius:8px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
text-align:center;
}

.income{
border-left:5px solid green;
}

.expense{
border-left:5px solid red;
}

.balance{
border-left:5px solid blue;
}

.middle{
display:flex;
justify-content:space-between;
margin-bottom:20px;
}

.add-transaction{
background:white;
padding:20px;
width:45%;
border-radius:8px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.chart-box{
background:white;
padding:20px;
width:45%;
border-radius:8px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
text-align:center;
}

input{
width:100%;
padding:10px;
margin:5px 0;
}

button{
width:100%;
padding:10px;
background:#667eea;
color:white;
border:none;
cursor:pointer;
}

.history{
background:white;
padding:20px;
border-radius:8px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

ul{
list-style:none;
padding:0;
}

li{
display:flex;
justify-content:space-between;
background:#f1f1f1;
margin:5px 0;
padding:10px;
}